---
layout: default
---

{% include navbar.html %}

<div class="container">
<div class="row">
    <div class="col-md-12">
            <h1 class="display-4 mt-5 mb-5">We are a sucessful home business!</h1>
    </div>
    </div>
<div class="row pb-5">
    <div class="col-md-7">
        {% include lorem-paragraph.html %}
        {% include lorem-paragraph.html %}
        {% include lorem-paragraph.html %}
    </div>
    <div class="col-md-5">
        <img src="http://placehold.it/500x300" class="img-fluid" alt="Responsive image">
    </div>
</div>


{% include footer.html %}