<div class="container-fluid bg-light-blue pt-5 pb-5">
    <div class="container mt-5">
        <blockquote class="blockquote text-center">
            <img class="img-fluid img-thumbnail" src="../assets/img/pexels-photo-301290.jpeg ">
            <p class="mt-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
    </div>
</div>