    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="http://placehold.it/400x250" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Services description</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>