---
---
@import "bootstrap";

.jumbotron {
    background: url("../img/skyline.jpeg");
    background-position-y: 40%;
    height: 400px;
}

.bg-light-blue {
  background: rgba(221, 231, 239, 0.44);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 72px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 72px;
    line-height: 72px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

  p {
    margin-bottom: 0px;
  }
